# Игнорировать ВСЕ медиафайлы (видео, картинки)
media/

# Игнорировать конкретные видеоформаты
*.mov
*.mp4
*.avi

# Кеш Python
__pycache__/
*.py[cod]

# Виртуальные окружения
venv/
env/
.venv/

# Настройки IDE
.idea/